<div class="container"
     fxLayout="column"
     fxFill
     fxLayoutGap="10px">
  <h4 *ngIf="!loading"
      fxFill
      fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </h4>
  <div fxLayout="row wrap"
       fxLayoutAlign="start start"
       *ngIf="orders && loading">
    <div *ngFor="let order of orders" id="card-container">
      <mat-card>
        <mat-card-content>
          <div class="order-title">Order: {{order.id}}</div>
          <p class="order-date"> Customer name: {{order.customerName}}</p>
          <p class="order-date"> Phone Nr: {{order.mobileNumber}}</p>
          <p class="order-date"> Comment: {{order.comment}}</p>
          <p class="order-date">Ordered: {{order.orderedDateAndTime | date:' H:m, d/L/yy '}}</p>
          <p class="order-date">Time of pick up: {{order.pickUpDateAndTime | date:' H:m, d/L/yy '}}</p>
          <mat-expansion-panel>
            <mat-expansion-panel-header id="expansion-panel-header">
              <mat-panel-title id="expansion-panel-title">
                Meals in this order
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Content after expansion -->
            <div class="expansion-content" *ngIf="order.orderLines && order.orderLines.length >= 1">
              <div *ngFor="let ol of order.orderLines">
                <p>
                  Item: {{ol.meal.name}}
                </p>
                <p>
                  Price: {{ol.meal.price}} DKK
                </p>
                <p>
                  Quantity: {{ol.quantity}}
                </p>
                <p>
                  Total: {{(ol.meal.price * ol.quantity)}} DKK
                </p>
                <hr>
              </div>
            </div>
            <div class="expansion-content" *ngIf="order.orderLines && order.orderLines.length < 1">
              <p>No items Found.</p>
            </div>
            <!--End of expansion -->
          </mat-expansion-panel>
          <!--
          <div class="price-order-container">
            <div class="order-price">{{order.id}} DKK</div>
          </div>
          -->
        </mat-card-content>
        <!-- Buttons for deletion / update -->
        <mat-card-actions fxLayout="row" fxLayoutGap="5px" id="order-admin-buttons-container">
          <span fxFlex></span>
          <button (click)="deleteO(order.id)"
                  mat-mini-fab
                  color="accent"
                  id="button-delete">
            <i class="fas fa-trash-alt"></i>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

