<div style="height: 100vh;">

  <mat-toolbar color="primary">

    <div class="logo-container"><a routerLink=""><img src="../../../assets/logoCrop.png" alt="" id="logo"></a></div>

    <div fxShow="true" fxHide.lt-sm="true" class="big-navigation-container">

      <!-- The following menu items will be hidden on small size screens -->

      <a routerLink="/meals" mat-button class="screen-navigation-controls">MEALS</a>

      <a routerLink="/orders" mat-button class="screen-navigation-controls">ORDERS</a>

      <a routerLink="" mat-button class="screen-navigation-controls">ABOUT US</a>

      <a routerLink="#" mat-button class="screen-navigation-controls">CONTACT</a>

    </div>

    <div fxShow="true" fxHide.gt-xs="true" class="big-navigation-container">

      <button (click)="sidenav.toggle()"><i class="fas fa-bars" id="small-navigation-icon"></i></button>

    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column" style="width: 36%;">

      <div fxLayout="column" style="margin-top: 20px;">

        <a routerLink="/meals" mat-button class="mobile-navigation-controls">MEALS</a>

        <a routerLink="/orders" mat-button class="mobile-navigation-controls">ORDERS</a>

        <a routerLink="" mat-button class="mobile-navigation-controls">ABOUT US</a>

        <a routerLink="" mat-button class="mobile-navigation-controls">CONTACT</a>

      </div>

    </mat-sidenav>

    <!-- CONTENT FROM ROOTS (MEALS,...) -->
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>

    </mat-sidenav-content>


  </mat-sidenav-container>

</div>



