<div>

  <mat-toolbar color="primary">

    <div class="logo-container"><a routerLink="/meals"><img src="../../../assets/logoCrop.png" alt="" id="logo"></a></div>

    <div fxShow="true" fxHide.lt-sm="true" class="big-navigation-container">

      <!-- The following menu items will be hidden on small size screens -->
      <a routerLink="/checkout" class="screen-navigation-controls"><i class="fas fa-shopping-cart"></i>{{itemsInCart}}</a>

      <a routerLink="/meals" class="screen-navigation-controls">MEALS</a>

      <a *ngIf="loggedIn" routerLink="/orders" class="screen-navigation-controls">ORDERS</a>

      <a routerLink="/about-us" class="screen-navigation-controls">ABOUT US</a>

      <a (click)="scrollToFooter()" class="screen-navigation-controls">CONTACT</a>

      <a *ngIf="loggedIn" (click)="logOut()" class="screen-navigation-controls">LOGOUT</a>

    </div>

    <div fxShow="true" fxHide.gt-xs="true" class="big-navigation-container">

      <a routerLink="/checkout" class="screen-navigation-controls"><i class="fas fa-shopping-cart"></i>{{itemsInCart}}</a>
      <button (click)="sidenav.toggle()"><i class="fas fa-bars" id="small-navigation-icon"></i></button>

    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column" style="width: 36%;">

      <div fxLayout="column" style="margin-top: 20px;">

        <a routerLink="/meals" mat-button class="mobile-navigation-controls">MEALS</a>

        <a *ngIf="loggedIn" routerLink="/orders" mat-button class="mobile-navigation-controls">ORDERS</a>

        <a routerLink="/about-us"  mat-button class="mobile-navigation-controls">ABOUT US</a>

        <a  mat-button class="mobile-navigation-controls">CONTACT</a>

        <a *ngIf="loggedIn" (click)="logOut()" mat-button class="mobile-navigation-controls">LOGOUT</a>

      </div>

    </mat-sidenav>

    <!-- CONTENT FROM ROOTS (MEALS,...) -->
    <mat-sidenav-content fxFlexFill style="background-color: #ffffff !important;">
      <router-outlet></router-outlet>

    </mat-sidenav-content>


  </mat-sidenav-container>

</div>





