<div class="container"
     fxLayout="column"
     fxFill
     fxLayoutGap="10px">
  <div *ngIf="loggedIn" fxLayout="row" id="add-meal-container">
    <button mat-mini-fab color="primary" style="margin: 20px" routerLink="/meals-add" id="add-meal-button">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <h4 *ngIf="!loading"
      fxFill
      fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </h4>
  <div fxLayout="row wrap"
       fxLayoutAlign="start start"
       *ngIf="meals && loading">
    <div *ngFor="let meal of meals" id="card-container">
      <mat-card>
        <mat-card-content>
          <div class="meal-title">{{meal.name}}</div>
          <div class="meal-picture-container"><img src="{{meal.picture}}" alt="" class="meal-picture"></div>

          <mat-expansion-panel>
            <mat-expansion-panel-header id="expansion-panel-header">
              <mat-panel-title id="expansion-panel-title">
                How does it taste and what's inside?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Content after expansion -->
            <div class="expansion-content">
              <div class="meal-desciption">{{meal.description}}</div>
              <div class="meal-ingredients">{{meal.ingredients}}</div>
            </div>
          </mat-expansion-panel>

          <div class="price-order-container">
            <div class="meal-price">{{meal.price}} DKK</div>
            <button (click)="addToSessionStorage(meal.id, meal.price, meal)" class="meal-order-button" [disabled]="meal.isDisabled">ADD TO CART</button>
          </div>
        </mat-card-content>

        <!-- Buttons for deletion / update -->
        <mat-card-actions fxLayout="row" fxLayoutGap="5px" id="meal-admin-buttons-container">
          <button *ngIf="loggedIn" routerLink="/meals-update/{{meal.id}}"
                  mat-mini-fab
                  color="primary"
                  id="button-update">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <span fxFlex></span>
          <button *ngIf="loggedIn" (click)="delete(meal.id)"
                  mat-mini-fab
                  color="accent"
                  id="button-delete">
            <i class="fas fa-trash-alt"></i>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
