.meals-in-cart-container {
  width: 75%;
  margin: 0 auto;
  border-right: 2px solid #e8e8e8;
  border-left: 2px solid #e8e8e8;
}

.cartMeal-object-container {
  overflow: auto;
  margin-top: 2em;
  border-bottom: 1px solid #e8e8e8;
}

.cartMeal-object-container:first-child {
  margin-top: 0em;
  padding-top: 2em;
}

.meal-in-cart-first-part-container {
  width: 50%;
  float: left;
}

.meal-in-cart-second-part-container {
  width: 50%;
  float: right;
}

.cartMeal-picture {
  width: 110px;
}

.cartMeal-title {
  display: inline-block;
  margin: 0 0 0 8%;
}

.remove-orderline-button {
  color: #860f0f;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
  border-radius: 25px;
  padding: 7px 9px;
  font-size: 14px;
  margin: 0 8% 0 5%;
}


.meal-in-cart-second-part-container p {
  display: inline-block;
}

.cartMeal-price-calculated {
  margin-right: 25%;
}

.cartMeal-quantity {
  color: #860f0f;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
  border-radius: 25px;
  padding: 8px 9px;
  font-size: 16px;
  margin-right: 2%;
}

.increase-quantity-button {
  color: #860f0f;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
  border-radius: 25px;
  padding: 2px 9px;
  font-size: 24px;
}

.decrease-quantity-button {
  color: #860f0f;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
  border-radius: 25px;
  padding: 2px 11px;
  font-size: 24px;
  margin-left: 2%;
}

#total-price {
  margin-top: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
}

.global-actions {
  text-align: center;
  margin-top: 15px;
}

.global-actions button {
  background-color: #008000e0;
  color: #fff;
  font-size: 14px;
}

#form-group input, textarea {
  color: #000 !important;
}

.form-part-2 {
  overflow: auto;
}

.expansion-panel-my-content {
  width: 95% !important;
  margin: 0 auto !important;
  text-align: center;
}


#name-input {
  margin-right: 3%;
}

#number-input {
  margin-left: 3%;
  margin-right: 3%;
}

#comment-area {
  margin-left: 3%;
}

#date-picker-input .mat-form-field-infix {
  width: 100px !important;
}

#date-picker-input {
  float: left;
  margin-left: 20%;
}

#hours-input {
  float: left;
  margin-left: 9%;
  margin-right: 3%;
}

#minutes-input {
  float: left;
  margin-left: 3%;
}


#order-button {
  margin-top: 36px;
  background-color: #008000e0;
  color: #fff;
  font-size: 14px;
}

#order-button-container {
  width: 100%;
}

#name-input, #number-input, #comment-area, #date-picker-input, #hours-input, #minutes-input {
  display: block;
  width: 35%;
  margin: 0 auto;
  float: none;
}


@media only screen and (max-width: 940px) {
  .meal-in-cart-first-part-container, .meal-in-cart-second-part-container {
    float: none;
    width: 100%;
    text-align: center;
  }

 .meals-in-cart-container {
   width: 50%;
 }

 #name-input, #number-input, #comment-area, #date-picker-input, #hours-input, #minutes-input {
   display: block;
   width: 40%;
   margin: 0 auto;
   float: none;
 }

}

@media only screen and (max-width: 700px) {

  .meals-in-cart-container {
    width: 50%;
  }

  #name-input, #number-input, #comment-area, #date-picker-input, #hours-input, #minutes-input {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {

  .meals-in-cart-container {
    width: 85%;
  }

  #name-input, #number-input, #comment-area, #date-picker-input, #hours-input, #minutes-input {
    width: 75%;
  }
}
