<div class="main-container">
  <!-- orderLineMealsInCart is array of orderLine objects taken from the session storage -->
  <div class="meals-in-cart-container">
    <div *ngFor="let orderLineMeal of orderLineMealsInCart" class="cartMeal-object-container">

        <div class="meal-in-cart-first-part-container">
          <div>
            <button class="remove-orderline-button" (click)="deleteOrderLineMealFromCart(orderLineMeal)">╳</button>
            <img src="{{getMealPicture(orderLineMeal)}}" alt="" class="cartMeal-picture">
            <p class="cartMeal-title">{{getMealName(orderLineMeal)}}</p>
          </div>
        </div>

        <div class="meal-in-cart-second-part-container">
          <p class="cartMeal-price-calculated">{{orderLineMeal.quantity * orderLineMeal.priceWhenBought}}DKK</p>
          <p class="cartMeal-quantity">{{orderLineMeal.quantity}}</p>
          <button class="increase-quantity-button" (click)="increaseQuantity(orderLineMeal)">+</button>
          <button class="decrease-quantity-button" (click)="decreaseQuantity(orderLineMeal)">-</button>
        </div>

    </div>
  </div>

  <div id="total-price">Total price: {{totalPrice}}DKK</div>

  <div class="global-actions">
      <button mat-raised-button (click)="openDetails()">Continue to payment</button>
  </div>

  <mat-expansion-panel [expanded]="detailsOpenState">
    <div class="expansion-panel-my-content">

        <form [formGroup]="customerDetailsForm" id="form-group">

        <div class="form-part-1">
          <mat-form-field>
            <input matInput placeholder="Your Name" formControlName="name">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Telephone Number" formControlName="telephoneNumber">
          </mat-form-field>

          <mat-form-field>
            <textarea rows="6" matInput placeholder="Comment" formControlName="comment"></textarea>
          </mat-form-field>
        </div>

          <mat-form-field>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date" formControlName="orderDate" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker touchUi disabled="false"></mat-datepicker>
          </mat-form-field>

      </form>

      <div class="form-part-2">
        <!-- here customer specifies hours (pickUpDate hours) -->
        <mat-form-field>
          <mat-select placeholder="Hour" [(ngModel)]="selectedHourString">
            <mat-option *ngFor="let hour of hoursString" [value]="hour">
              {{hour}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- here customer specifies minutes (pickUpDate minutes) -->
        <mat-form-field>
          <mat-select placeholder="Minutes" [(ngModel)]="selectedMinuteString">
            <mat-option *ngFor="let minutes of minutesString" [value]="minutes">
              {{minutes}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-raised-button (click)="save()" id="order-button">
        ORDER!
      </button>

    </div>
  </mat-expansion-panel>

</div>
