/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


/* NORMALIZATION */
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
}


/* theme colors */
.mat-toolbar.mat-primary {
  background: #b55d3f;
  color: #fff;
}


