/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


/* NORMALIZATION */
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
  margin: 0;
  font-family: SansSerif, sans-serif !important;
}


/* theme colors */
.mat-toolbar.mat-primary {
  background: #b55d3f;
  color: #fff;
}

.mat-expansion-indicator::after {
  color: #e8e8e8;
}

.mat-expansion-panel-body {
  padding: 0px 10px 9px 10px !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #860f0f;
}

.mat-expansion-panel {
  color: #fff;
}
