<br>
<br>
<br>
<footer>
  <div class="footer-info" id="footer-goto">

    <div class="first-part">
      <div class="first-part-number">
        <a href="20 20 21 29"><i class="fas fa-phone"></i> 20 20 21 29</a>
      </div>

      <div class="first-part-mail">
        <a href="support@labamba.dk"><i class="fas fa-envelope"></i> info@LaBamba.dk</a>
      </div>
    </div>

    <div class="second-part">
      <div class="second-part-address">
        <i class="fas fa-map-marker-alt"></i>
        <p>Kongensgade 34 <br><br> 6700 Esbjerg, Denmark</p>
      </div>

      <div class="second-part-opening-hours">
        <i class="fas fa-clock"></i>
        <p>Monday - Friday 15:00-20:00 <br><br>
          Saturday & Sunday 12:00-22:00</p>
      </div>
    </div>
  </div>
</footer>
