
.footer-info {
  background: #e8e8e8;
  color: #860f0f;
  padding: 20px 0;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  overflow: auto;
  padding-bottom: 45px;
}

.first-part-number>a, .first-part-mail>a {
  text-decoration: none;
  color: #860f0f;
}

.second-part-address>p, .second-part-opening-hours>p {
  line-height: 12px;
  margin: 0;
}

.second-part p {
  margin-top: 10px;
}

.first-part {
  width: 33%;
  margin-left: 0.5%;
  float: left;
  margin-top: 27px;
}

.second-part-address {
  width: 33%;
  float: left;
}

.second-part-opening-hours {
  width: 33%;
  margin-right: 0.5%;
  float: left;
}

@media only screen and (max-width: 600px) {
  .footer-info {
    font-size: 17px;
  }

  .first-part {
    width: 80%;
    margin: 0 auto;
    float: none;
    margin-bottom: 30px;
  }

  .second-part-address {
    width: 80%;
    margin: 0 auto;
    float: none;
    margin-bottom: 35px;
  }

  .second-part-opening-hours {
    width: 80%;
    margin: 0 auto;
    float: none;
  }

}

@media only screen and (min-width: 600px) {
  .footer-info {
    font-size: 13px;
  }
}

@media only screen and (min-width: 670px) {
  .footer-info {
    font-size: 15px;
  }
}
